In [110]:
import pandas as pd

In [111]:
s = pd.Series([1,2,3],
             index=['A', 'B', 'C'],
             name='col1')
s

A    1
B    2
C    3
Name: col1, dtype: int64

In [112]:
data = [[1,4], [2,5], [3,6]]
index = ['A', 'B', 'C']
df1 = pd.DataFrame(data, index=index, columns=['col1', 'col2'])
df1

   col1  col2
A     1     4
B     2     5
C     3     6

In [6]:
df3= pd.DataFrame([[7],[8],[9]],
                  index=['A','B','C'],
                  columns=['cols3'])

NameError: name 'pd' is not defined

In [113]:
df = pd.read_csv(r"C:\Users\USER\Desktop\Python\lung_disease_data.csv",encoding='utf-8', names=[' '])
df

Age  Gender Smoking Status Lung Capacity Disease Type Treatment Type Hospital Visits  Recovered
71.0 Female No             4.49          COPD         Therapy        14.0                   Yes
34.0 Female Yes            NaN           Bronchitis   Surgery        7.0                     No
80.0 Male   Yes            1.95          COPD         NaN            4.0                    Yes
40.0 Female Yes            NaN           Bronchitis   Medication     1.0                     No
...                                                                                         ...
     Male   No             1.43          Lung Cancer  Medication     1.0                    Yes
21.0 NaN    Yes            1.5           COPD         Medication     4.0                     No
42.0 Female No             5.53          Pneumonia    Surgery        5.0                     No
82.0 Male   No             3.68          Bronchitis   Medication     9.0                     No
45.0 Female Yes            3.79          Pneumonia    Medication     10.0                   Yes

[5201 rows x 1 columns]